<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style= "background-image:url('/assets/image/img.jpg') ; background-size: cover; background-attachment: fixed;   height: auto;">

  <!-- <img width="300" src="/assets/image/image.jpg"> -->
  <h1>Product List</h1>
  <div class="Button" style="margin-left: 970px;">
  <button style="background-color: rgb(52, 214, 119);"(click)="createButton()">Add New Products</button>
</div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <!-- <th scope="col">ID</th> -->
        <th scope="col">Name</th>
        <th scope="col">Qty</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="allProducts">
      <tr *ngFor="let val of allProducts">
        <!-- <th scope="row">{{val._id}}</th> -->
        <td>{{val.product_name}}</td>
        <td>{{val.product_quantity}}</td>
        <td>{{val.product_price}}</td>
        <td><span style="margin-right:20px;"><button style="background-color: yellow;" (click)="editHandler(val._id)">Edit</button></span>
          <span style="margin-right:20px;"><button style="background-color: rgb(52, 214, 119);"(click)="detailsHandler(val._id)">Details</button></span>
          <button style="background-color: rgb(216, 62, 62);">Delete</button>
        </td>



      </tr>
     </ng-container>
    </tbody>
  </table>

  <div class="twelve columns" style="color: black; font-style: italic;  margin-top: 380px;">
    <p style="padding-left: 666px; color: black;">&copy; 2020 Gurpinder Singh</p>
 </div>

</body>
</html>


